@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-primary-900: rgb(77, 112, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(92, 124, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-700: rgb(185, 28, 28);
  --color-red-800: rgb(153, 27, 27);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
  --color-red-100: rgb(254, 226, 226);
}

body {
  font-family: sans-serif;
  background-color: var(--color-secondary-100);
}

body,
* {
  font-family: Vazirmatn;
}

html {
  font-size: 62.5%;
}
button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn--primary {
  background-color: var(--color-primary-800);
  color: var(--color-secondary-0);
}
.btn--primary:hover {
  background-color: var(--color-primary-900);
  color: var(--color-secondary-0);
}
.btn--outline {
  color: var(--color-primary-900);
  border: 1px solid var(--color-primary-900);
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-secondary-700);
}

input {
  outline: none;
  display: block;
  border: 1px solid var(--color-secondary-300);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-lg);
  font-weight: 400;
}

.hidden {
  display: none;
  visibility: hidden;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: var(--border-radius-lg);
  padding: 1rem 2rem;
  text-wrap: nowrap;
}
.content-toggle {
  padding: 20px;
  align-items: center;
  align-content: center;
}
.header {
  margin: 30px;
  background-color: white;
  padding: 20px;
  border: 1px solid var(--color-secondary-300);
  border-radius: var(--border-radius-lg);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.header-title {
  display: flex;
  flex: 1;
}
#search-input {
  display: flex;
  width: 300px;
}

/* table styles */

#table {
  display: inline-table;
  width: 100%;
  table-layout: fixed;
  margin: 10px;
  margin-top: 30px;
  border-collapse: collapse;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 14px;
  padding-bottom: 12px;
  text-align: right;
  font-weight: 900;
  color: var(--color-secondary-900);
}
